# Mix artifacts
/_build
/deps
/*.ez

# Generate on crash by the VM
erl_crash.dump
npm-debug.log
/extension/.tmp
/extension/bower_components
/extension/node_modules
/extension/package
/extension/dist
/extension/.jshintrc
/backend/_build
/backend/deps
